/* En esta sección se encuentran las configuraciones del body (excepto el menú nav) */

.gn-menu-main > li > a {
  color: white;
}

body {
  background-color: #e6e9f6;
  font-family: "Lato", Arial, sans-serif;
  height: 100%;
}

#navegacion {
  background-color: #3f37c9;
}

#titulo {
  width: 100%;
  position: absolute;
  z-index: -1;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

#portafolio {
  float: right;
  border: 2px black solid;
  border-radius: 10px;
}



#inputTexto {
  width: 50rem;
  height: 35rem;
  overflow: hidden;
  display: inline-block;
  resize: none;
  margin-left: 1rem;
  font-size: 1.5em;
  border: none;
  border-radius: 5%;
  padding: 3%;
}

#inputTexto:focus {
  outline: none;
}

#area{
  display: none;
}

#botones {
  width: 100%;
}

#outputTexto {
  margin-right: 1rem;
  float: right;
  font-size: 1.5em;
  color: rgb(73, 73, 73);
  padding-left: 15%;
  overflow: hidden;

}

#imagen{
  width: 50%;
  margin-left: 30%;
  margin-bottom: 20%;
  text-align: right;
}

.textos{
  font-size: 70%;
  color: gray;
  justify-content: center;
  
}

#outputTexto:focus {
  outline: none;
}

.mismaLinea {
  display: inline-block;
  margin-top: 7%;
  
}

.diseñoCaja {
  height: 35rem;
  width: 30%;
  margin-top: 7%;
  background: white;
  margin-right: 1rem;
  display: inline-block;
  float: right;
  border-radius: 5%;
  margin-bottom: 11em;
}

#cuadro {
  display: block;
}

#botones{
  margin-top: 3%;
}


#encriptar {
  align-items: flex-start;
  flex-direction: row;
  padding: 24px;
  position: static;
  width: 250px;
  height: 67px;
  left: 0px;
  top: 0px;
  background: #134582;
  border: 1px solid #134582;
  color: #FFFFFF;
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 15%;
}

#encriptar:hover{
    background: transparent;
    border: 1px solid #134582;
    color: #134582;
}

#desencriptar {
  align-items: flex-end;
  flex-direction: row;
  padding: 24px;
  position: static;
  width: 250px;
  height: 67px;
  background: transparent;
  border: 1px solid #134582;
  color: #134582;
  box-sizing: border-box;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 10%;
}

#desencriptar:hover{
  background: #134582;
  border: 1px solid #134582;
  color: #FFFFFF;
}

#copiar{
  align-items: flex-end;
  flex-direction: row;
  padding: 24px;
  position: static;
  width: 250px;
  height: 67px;
  background: transparent;
  border: 1px solid #134582;
  color: #134582;
  box-sizing: border-box;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 17%;
}

#copiar:hover{
  background: #134582;
  border: 1px solid #134582;
  color: #FFFFFF;
}


#cabeza {
  z-index: 80;
}

.footer {
  background-color: #134582;
  padding-top: 0.5em;
  color: white;
  width: 100%;
  margin-top: 10%;
  border-radius: 40% 40% 0% 0%;
}

#imagenFooter{
  width: 15%;
  margin-top: 0%;
  margin-left: 42.5%;
  margin-right: 42.5%;
  margin-top: 3%;
  margin-bottom: 3%;

  
}


#outputTexto {
  width: 25rem;
  height: 35rem;
  resize: none;
}


/* A continuación está lo que permite que la página sea responsive */

@media screen and (max-width: 1240px) {
  #portafolio {
    display: none;
  }

  .mismaLinea {
    margin-left: 0%;
    margin-right: 0%;
  }

  #inputTexto {
    width: 90%;
    margin-top: 2em;
    margin-left: 5%;
    margin-right: 1%;
  }

  #botones {
    width: 90%;
    margin-top: 8%;
    float: left;
  }

  #outputDiseño {
    width: 90%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  #inputDiseño{
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 1%;
  }

  #outputTexto{
    width: 90%;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 1%;
    padding-left: 1%;
  }

  #encriptar {
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
  }

  #imagen{
    width: 8em;
    margin-left: 15%;
    margin-bottom: 2em;
    text-align: right;

  }

  .diseñoCaja {
    height: 35rem;
    width: 80%;
    margin-top: 6%;
    margin-left: 10%;
    background: white;
    margin-right: 1rem;
    display: inline-block;
    float: left;
    border-radius: 5%;
    padding-left: 1%;
  }

  #desencriptar {
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    margin-top: 5%;
  }
   
  #copiar{
    margin-left: 3%;
    margin-right: 10%;
    width: 90%;
  }

  #imagenFooter{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
  }

  .footer{
    display: flex;
  }
}
